/*Overall
  ------------------------------------------------------------*/
html, body { margin: 0; padding: 0; }
body {
    background: url('../images/yellow.jpg') #FFFF00;
}
a:link,
a:visited { 
    text-decoration: none;
   // color: #F38921; 
   // border-bottom: 1px dotted #F38921;
}
a:hover,
a:focus {
  //  border-bottom: 1px dotted #F8bc74;
  //  color: #F8bc74;
}

.floatleft { float: left; }
.floatright { float: right; }
.clear { clear: both; }



/*Layout
  --------------------------------------------------*/
div#wrapper {
    width: 90%;
    min-width: 950px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
    background: url('../images/gold.jpg') #FCEE21;
}
#container {
    width: 900px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
    color: #fff;
    font: 14pt 'Rokkitt', helvetica, arial, sans-serif;
}
.text { margin-bottom: 30px; }
#home .text {
    margin: 170px auto 100px auto;
    width: 320px;
}
#container ul {
    list-style-image: none;
}
#container li {
    clear: both;
    padding: 0;
}
#container img.bullet {
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 10px 3px 0;
    position: relative;
    top: -11px;
}
#content-area {
    min-height: 300px;
    height: 50%;
    padding: 30px;
    width: 640px;
    margin: auto;
    position: relative;
    top: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}
body#cuisine #content-area {
    background: url('../images/bluec.jpg') #0071BC;
}
#banner {
    position: absolute;
    top: 10px;
    z-index: 100;
    text-align: center;
    width: 100%;
}
#footer {
    z-index: 100;
    position: fixed;
    bottom: 0;
    width: 880px;
    height: 15px;
    color: #fff;
    background: url('../images/green.jpg');
    font: 12pt 'Rokkitt', helvetica, arial, sans-serif;
    text-align: center;
    padding: 10px;
}
/*Navigation
  ------------------------------------------------------------*/
/* Code in some footer navigation in case people get lost? */

/*Content Styles
  ------------------------------------------------------------*/
.bold { font-weight: 700; }
.regular { font-weight: 400; }
.italic { font-weight: 400; font-style: italic; }


/*Page Styles
  ------------------------------------------------------------*/
/* Begin Home Styles -----------------------------------------*/
div#restaurants {
    width: 450px;
    min-height: 100%;
    float: left;
    margin: 0;
    background: url('../images/bluer.jpg') #29ABE2;
}

div#cuisine {
    width: 450px;
    min-height: 100%;
    float: right;
    margin: 0;
    background: url('../images/bluec.jpg') #0071BC;
}
div.badge {
    width: 220px;
    height: 220px;
    background: url('../images/badge.png') no-repeat;
    margin: auto;
    position: relative;
    top: 220px;
    padding-top: 90px;
    color: #39B54A;
    text-align: center;
    font: 20pt 'Coustard', 'Rokkitt', helvetica, arial, sans-serif;
    text-shadow: 0px -1px 0.5px #04680E;
}
div.badge:hover, div.badge:focus {
    background: url('../images/badge_hover.png') no-repeat;
}
a.badge {
    color: inherit;
}
/* End Home Styles -------------------------------------------*/
/* Begin Form Styles -----------------------------------------*/
#content-area table {
    margin: auto;
}
#content-area .form {
    margin: 38px 20px;
}
input,
textarea {
    width: 410px;
    border: 1px solid #ddd;
    font-size: 14pt;
    padding: 5px;
    margin-bottom: 20px;
}
#content-area label {
    color: #fff;
    font: 16pt 'Rokkitt', helvetica, arial, sans-serif;
    margin-right: 40px;
}
body#cuisine input, body#cuisine textarea {
   // border: 1px solid #fff;
    //background-color: #D9E021;
    //color: #fff;
}
#nav-left {
    margin-top: -50px;
    float: left;
}
#nav-right {
    margin-top: -50px;
    float: right;
}
/* End Form Styles -------------------------------------------*/
/* Begin Rank Styles -----------------------------------------*/
#list-1, #list-2 {
    width: 250px;
    height: 190px;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: auto;
}
#list-1 {
    background: url('../images/forest.jpg') #6EAF22;
    float: left;
}
#list-2 {
    background: url('../images/azure.jpg') #0090E0;
    float: right;
}
ul.sort {
    list-style-image: none;
}
.draggable {
    width: 230px;
    height: 39px;
    background: url('../images/draggable.png') no-repeat;
    margin-bottom: 2px;
}
span.names {
    position: relative; top: 10px; left: 33px;
    text-shadow: 0px -1px 0.5px #04680E;
}
.draggable.ui-draggable-dragging { background: url('../images/draggableb.png') no-repeat; }
.bin, .bin-hover {
    width: 230px;
    height: 39px;
    margin-bottom: 2px;
}
.bin { background: url('../images/bin_hover.png') no-repeat; }
//.bin-hover { background: url('../images/bin_hover.png') no-repeat; }
/* End Form Styles -------------------------------------------*/
