/*Overall
  ------------------------------------------------------------*/
html, body { margin: 0; padding: 0; }
body {
    background: url('../images/yellow.jpg') #FFFF00;
}
a:link,
a:visited { 
    text-decoration: none;
   // color: #F38921; 
   // border-bottom: 1px dotted #F38921;
}
a:hover,
a:focus {
  //  border-bottom: 1px dotted #F8bc74;
  //  color: #F8bc74;
}

.floatleft { float: left; }
.floatright { float: right; }
.clear { clear: both; }



/*Layout
  --------------------------------------------------*/
div#wrapper {
    width: 90%;
    min-width: 950px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
    background: url('../images/gold.jpg') #FCEE21;
}
#container {
    width: 900px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
}
#container .text {
    margin: 170px auto 100px auto;
    width: 320px;
    color: #fff;
    font: 14pt 'Rokkitt', helvetica, arial, sans-serif;
}
#container ul {
    list-style-image: none;
}
#container li {
    clear: both;
    padding: 0;
}
#container img.bullet {
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 10px 3px 0;
    position: relative;
    top: -11px;
}
#content-area {
    height: 220px;
    padding: 50px;
    width: 600px;
    margin: auto;
    position: relative;
    top: 200px;
}
body#cuisine #content-area {
    background: url('../images/bluec.jpg') #0071BC;
}
#banner {
    position: absolute;
    top: 10px;
    z-index: 100;
}
#footer {
    z-index: 100;
    position: fixed;
    bottom: 0;
    width: 880px;
    height: 15px;
    color: #fff;
    background: url('../images/green.jpg');
    font: 12pt 'Rokkitt', helvetica, arial, sans-serif;
    text-align: center;
    padding: 10px;
}
/*Navigation
  ------------------------------------------------------------*/
/* Code in some footer navigation in case people get lost? */

/*Content Styles
  ------------------------------------------------------------*/
.bold { font-weight: 700; }
.regular { font-weight: 400; }
.italic { font-weight: 400; font-style: italic; }


/*Page Styles
  ------------------------------------------------------------*/
/* Begin Home Styles -----------------------------------------*/
div#restaurants {
    width: 450px;
    min-height: 100%;
    float: left;
    margin: 0;
    background: url('../images/bluer.jpg') #29ABE2;
}

div#cuisine {
    width: 450px;
    min-height: 100%;
    float: right;
    margin: 0;
    background: url('../images/bluec.jpg') #0071BC;
}
.badge {
    width: 220px;
    height: 220px;
    background: url('../images/badge_plain.png') no-repeat;
    margin: auto;
    position: relative;
    top: 220px;
    padding-top: 90px;
    color: #39B54A;
    text-align: center;
    font: 20pt 'Coustard', 'Rokkitt', helvetica, arial, sans-serif;
    text-shadow: 0px -1px 0.5px #04680E;
}
div.badge:hover, div.badge:focus {
    background: url('../images/badge_hover.png') no-repeat;
}
/* End Home Styles -------------------------------------------*/
/* Begin Form Styles -----------------------------------------*/
#content-area table {
    margin: auto;
}
input,
textarea {
    width: 430px;
    border: 1px solid #ddd;
    font-size: 14pt;
    padding: 5px;
    margin-bottom: 20px;
}
#content-area label {
    color: #fff;
    font: 16pt 'Rokkitt', helvetica, arial, sans-serif;
    margin-right: 40px;
}
body#cuisine input, body#cuisine textarea {
   // border: 1px solid #fff;
    //background-color: #D9E021;
    //color: #fff;
}
#nav-left {
   // position: absolute;
   // top: 50%;
    float: left;
}
#nav-right {
    //position: absolute;
   // top: 50%;
    float: right;
}
